<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Bar Menu</title>
        <style>
        body {
            background-color: black;
            color: white;
            text-align: center;
        }

        .menu {
            display: inline-block;
            margin: 20px;
        }

        .menu a {
            margin: 5px;
            padding: 10px;
            background-color: gray;
            color: white;
            text-decoration: none;
        }
    </style>
    </head>
    <body>
    <h1>Menu</h1>

    <div class="menu">
        <a th:href="@{/product-page}">Products</a>
        <a th:href="@{/stock-page}">Stock</a>
        <a th:href="@{/supplier-page}">Suppliers</a>
    </div>
    </body>
    </html>
